.container {
  @apply relative inline-block bg-none text-custom-cream text-center;
}

.background {
  border-radius: 100000px;
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  @apply absolute w-full h-full overflow-hidden top-0 left-0 bg-custom-coral;
}

.container:hover .background {
  transform: scale3d(1.1, 1.1, 1);
}

.text {
  @apply relative block py-2 px-8;
}
