.container {
  @apply relative h-40 w-full bg-custom-powder text-custom-cream;
}

.footer_content {
  @apply flex flex-col my-auto mx-auto w-fit py-5;
}

.tag_line {
  font-size: clamp(1rem, 4.75vw + 1.5rem, 3rem);
  letter-spacing: 0.3rem;
  @apply font-caveat text-center pt-2;
}

.logo {
  mask: url("../../../public/logo.svg") no-repeat center;
  @apply w-16 h-16 bg-custom-cream;
}

.advert {
  font-size: clamp(18px, 2vw + 10px, 22.25px);
  @apply absolute flex bottom-4 w-fit left-0 right-0 mx-auto text-center;
}

.advert > p {
  font-size: clamp(18px, 2vw + 10px, 22.25px);
  @apply mx-2;
}

.advert > a {
  font-size: clamp(18px, 2vw + 10px, 22.25px);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

@screen sm {
  .tag_line {
    line-height: 1;
    @apply pt-0;
  }
}

@screen lg {
  .footer_content {
    @apply absolute flex-row justify-between px-24 h-fit top-0 bottom-0 left-0 right-0 w-full;
  }

  .tag_line {
    @apply text-5xl;
  }
}
