.content_container {
  @apply flex w-full justify-center mx-auto;
}

.body_container {
  @apply relative;
}

.modal {
  background-color: rgba(60, 60, 60, 0.5);
  @apply absolute w-full h-full z-10 flex justify-center;
}

.hidden_modal {
  display: none;
}

.modal_body {
  top: 50%;
  transform: translateY(-50%);
  width: 40vw;
  max-height: 50vh;
  padding: 1rem;
  overflow: hidden;
  border-radius: 10px;
  @apply fixed bg-custom-cream flex flex-col;
}

.close_button {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  @apply mx-auto;
}

.modal_content {
  @apply flex flex-col my-auto;
}

.modal_content > h1 {
  letter-spacing: 1rem;
  @apply text-custom-coral text-8xl;
}

.modal_content > h2 {
  letter-spacing: 0.5rem;
  @apply text-6xl text-green-700;
}

.modal_content > h3 {
  max-width: 75%;
  opacity: 0.7;
  letter-spacing: 0.4rem;
  @apply text-4xl text-custom-coral;
}

.modal_content > h4 {
  width: fit-content;
  @apply text-3xl text-custom-grey mx-auto;
}

.modal_content > img {
  position: absolute;
  right: -50px;
  top: 40px;
  z-index: -1;
  border-radius: 100000px;
  @apply bg-gray-600;
}

@screen lg {
  .content_container {
    @apply w-[85%];
  }
}
