.container {
  width: fit-content;
  @apply flex gap-5 items-center justify-center px-0 mx-auto pt-5;
}

.logo_background {
  border-radius: 100000px;
  z-index: 1;
  width: clamp(3rem, 2vw + 2.5rem, 8rem);
  height: clamp(3rem, 2vw + 2.5rem, 8rem);
  @apply relative flex justify-center items-center overflow-hidden bg-custom-blue;
}

.logo {
  mask: url("../../../public/logo.svg") center no-repeat;
  @apply w-[80%] h-[80%] bg-custom-cream;
}

.page_name {
  letter-spacing: 0.1rem;
  font-size: clamp(2rem, 2vw + 1rem, 3rem);
  @apply font-caveat font-semibold;
}

@screen lg {
  .container {
    @apply pb-5;
  }

  .logo_background {
    translate: -60% 35%;
    width: clamp(7rem, 1.75vw + 3.75rem, 8rem);
    height: clamp(7rem, 1.75vw + 3.75rem, 8rem);
    @apply absolute;
  }

  .page_name {
    translate: 60% 10%;
    line-height: 2.25rem;
    font-size: clamp(2.25rem, 1.75vw + 1.5rem, 3rem);
  }
}

@screen xl {
  .page_name {
    line-height: 1;
  }
}
