.container {
  width: fit-content;
  translate: 0 10%;
  @apply flex gap-5 items-center justify-center px-0 mx-auto pb-5;
}

.prefix {
  @apply text-xl text-custom-grey;
}

.list {
  text-decoration: none;
  list-style: none;
  @apply flex gap-4 items-center justify-center px-0 mx-auto;
}

.nav_item {
  @apply text-custom-grey;
}

@screen lg {
  .container {
    @apply pt-5;
  }

  .list {
    @apply py-5;
  }
}
