.container {
  grid-template-columns: 0.4fr 1fr;
  @apply grid justify-center my-10;
}

.info_image {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 3/4;
  border-radius: 5px;
  max-width: 400px;
  @apply relative;
}

.image_overlay {
  @apply w-fit h-fit relative;
}

.image_overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  @apply bg-custom-cream;
}

.description {
  @apply flex flex-col justify-between w-[60%];
}

.info_text {
  @apply flex flex-col mb-5;
}

.info_text > h1 {
  @apply text-4xl text-custom-blue font-semibold italic font-caveat;
}

.info_body {
  @apply text-custom-blue leading-8 py-2 text-xl;
}

.info_body > ul {
  @apply pl-5 py-5;
}

.buttons {
  @apply flex flex-row justify-center gap-5;
}
