.container {
  @apply flex flex-col justify-center items-center gap-10 my-10 w-[75%];
}

.info {
  @apply flex flex-row justify-center gap-10;
}

.info_image {
  aspect-ratio: 3/4;
  max-width: min-content;
  max-height: min-content;
  min-width: 150px;
  min-height: 200px;
  border-radius: 5px;
  @apply relative bg-custom-ash;
}

.image_overlay {
  max-width: 350px;
  max-height: 533px;
  @apply relative flex;
}

.image_overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  @apply bg-custom-cream;
}

.info_text {
  @apply flex flex-col;
}

.info_text > h1 {
  @apply text-4xl text-custom-blue font-semibold italic font-caveat;
}

.info_body {
  @apply text-custom-blue leading-8 py-2 text-xl;
}

.info_body > ul {
  @apply pl-5 py-5;
}

.buttons {
  @apply flex flex-row justify-center w-[50%] gap-10;
}
